* {
    font-family: -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.calculator-display {
    background-color: black;
    color: white;
    font-size: 6em;
    width: 320px;
}

.calculator-key {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    font-size: 2em;
}